/* Content*/
.cart-empty {
    text-align: center;
}

.btn-empty {
    color: var(--primary-color);
    font-size: 14px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 7px 20px;
}

.btn-empty:hover {
    color: #F8F8F8;
    background-color: var(--primary-color);
}

.product-stick {
    font-size: 20px;
    font-weight: bold;
}

.product-stick:hover {
    color:var(--primary-color);
    cursor: pointer;
}

.product {
    padding: 24px;
}
.product1 {
    position: relative;
}

.title-product {
    padding: 12px 10px;
}

.product1 {
    height: 350px;
    border: 1px solid #333333;
}

.product1 img {
    width:100%;
    height: 250px;
    cursor: pointer;
}

.container-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.product1 .name-product {
    line-height: 14px;
    font-size: 14px;
    color: #2d2d2d;
}

.product1 .new-price {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.product1 .old-price {
    display: block;
}

.product1 .old-price .price {
    font-size: 12px;
    text-decoration-line: line-through;
}

.product1 .old-price span {
    font-size: 12px;
    margin-left: 10px;
    color: rgb(224, 28, 28);
}

.product1:hover .name-product {
    cursor: pointer;
    color: var(--primary-color);
}

/* .product1 .plus {
    position: absolute;
    bottom: 35px;
    right: 20px;
    width: 25px;
    height: 25px;
    content: "X";
    border-radius: 100%;
    z-index: 9999;
} */
.plus::before {
    content: "+";
    position: absolute;
    bottom: 35px;
    right: 20px;
    background: rgb(224, 28, 28);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    line-height: 20px;
    font-size: 25px;
}

.product1 .old-price span {
    position: absolute;
    left: 50px;
    bottom: 40px;
}
/*End Content*/