:root {
    --primary-color: #a50a06;
    --secondary-color: #fabd0d;
    --header-background: #2d2d2d;
    --body-background: #F8F8F8;
    --footer-color: #333333;
}

* {
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

a {
    text-decoration: none;
}

/* mobile */
@media (max-width: 739px) {
    .c-none {
        display: none;
    }

    .c-d {
        display: block;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .m-none {
        display: none;
    }

    .m-d {
        display: block;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) {
    .l-none {
        display: none;
    }

    .l-d {
        display: block;
    }
}

.m-2 {
    margin: 2px;
}

.mr-2 {
    margin-right: 2px;
}

.mr-12 {
    margin-right: 12px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-25 {
    margin-right: 25px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.my-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.p-6 {
    padding: 6px;
}

.p-10 {
    padding: 10px;
}

.pt-40 {
    padding-top: 40px;
}

.ptb-6 {
    padding-top: 6px ;
    padding-bottom: 6px ;
}

.close {
    border: 0;
    cursor: pointer;
}

.close::before {
    content: "✕";
    position: absolute;
    right: 8px;
    top: 5px;
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    line-height: 20px;
    font-size: 14px;
    opacity: 0.5;
}

.close:hover::before {
    opacity: 0.7;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.list-unstyled {
    display: flex;
    list-style-type: none;
}

.title-menu {
    font-size: 16px;
    padding-bottom: 12px;
}

.list-menu {
    list-style-type: none;
}

.list-menu > li {
    padding-bottom: 12px;
}

.link {

}

.link--blue {
    color: #0056b3 !important;
}

.link-h--pri:hover {
    color: var(--primary-color);
}

.bold {
    font-weight: bold;
}

.color-white {
    color: white;
}

.single-field-form {
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;

}

.single-field-form input {
    line-height: 40px;
    border: none;
    background: none;
    outline: none;
    flex: 1;
    margin: 0 20px;
}

.single-field-form  button {
    border: none;
    background: var(--secondary-color);
}

.single-field-form .icon {
    color: white;
    font-size: 20px;
    margin: 10px 20px;
}

.section {
    border-radius: 6px;
    overflow: hidden;
}

.section__header {
    font-size: 20px;
    font-weight: bold;
}

/* site */

.top-site-banner {
    width: 100%;
    height: 45px;
    background-color: var(--primary-color);
    text-align: center;
}

.header {
    width: 100%;
    height: 61px;
    background-color: var(--header-background);
    position: sticky;
    top: 0;
    /* padding: 6px; */
    z-index: 100;
}

.header a {
    color: white;
}

.search-list > li {
    font-size: 12px;
    display: inline-block;
    padding: 5px;
}

.header__menu {
    justify-content: right;
}

.header__menu-item > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.header__menu-icon {
    width: 24px;
    height: 24px;
    padding: 5px ;
}

.nav {
    width: 100%;
    height: 45px;
    background-color: var(--header-background);
}

.nav a {
    line-height: 45px;
    color: white;
}

.nav input[type=radio] {
    display: none;
}

.nav__list {
    height: 45px;
    flex-wrap: wrap;
    overflow: hidden;
}

.nav__list-item {
    height: 45px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;
    box-sizing: border-box;
}

.nav__list-item:hover {
    border-color: var(--primary-color);
}

.nav__list-item > a {
    white-space: nowrap;
}

.nav__btn {
    height: 45px;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__btn-icon {
    color: white;
    cursor: pointer;
}

.nav__btn-icon.disabled {
    color: gray;
    cursor: default;
}

.body {
    background-color: var(--body-background);
}

.section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.top-footer {
    background-color: var(--footer-color);
}

.footer {
    font-size: 14px;
}

.footer a {
    color: black;
}

.footer-logo {
    padding: 12px;
}