/* Le Thanh Hung  */

.main .container {
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

.main .text-content {
    margin-bottom: 30px;
}

.waysold {
    padding-inline-start: 30px;
    list-style-type: disc;
}
.mrb-16 {
    margin-bottom: 16px;
 }
.mrb-5 {
    margin-bottom: 5px;
}

.booksell > li {
    list-style-type: none;
 }
.waysold li {
    margin-bottom: 5px;
    font-size: 14px;
 }
.main p {
    font-size: 14px;
 }
.booksell li h3 {
    font-weight: bolder;
}

