/* Le Thanh Hung  */

.main .container {
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

.main .text-content {
    margin-bottom: 30px;
}

.bill-online {
    padding: 16px 0;
    margin: 50px 0;
}
.bill-online p {
    font-size: 14px;
    margin-bottom: 16px;
}
.billonline ul li {
    padding-inline-start: 10px;
    list-style-type:none;

}
.bill-online h3 {
    margin-bottom: 16px;
}
.bill-online h1 {
    margin-bottom: 16px;
}
.billonline ul span {
    font-weight: bolder;
}


